@use "./colors";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  background-color: colors.$light-grayish-cyan-background;
}
button:focus {
  outline: 2px dotted colors.$desaturated-dark-cyan;
}

button {
  cursor: pointer;
}
.header {
  height: 20vh;
  width: 100%;
  background-image: url("../images/bg-header-mobile.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: colors.$desaturated-dark-cyan;
}

.main {
  position: relative;
  top: -5vh;
  padding: 0 1rem;
}
.selected {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fefefe;
  padding: 2rem;
  margin: 0 1rem;
  &__tag {
    display: flex;
    align-items: center;
    color: colors.$desaturated-dark-cyan;
    background-color: colors.$light-grayish-cyan-background;
    .tag {
      font-size: 0.8rem;
      padding: 0.2rem;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
  &__clear {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: colors.$desaturated-dark-cyan;
    font-weight: 700;
  }
  .delete__tag {
    background-color: colors.$desaturated-dark-cyan;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
  }
}

// cards

.card {
  position: relative;
  background-color: #fefefe;
  margin: 3rem 1rem 3rem;
  padding: 2rem 1rem 1rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px hsla(180, 29%, 50%, 0.267);
  transform: scale(1, 1);
  transform-origin: top;
  transition: transform 0.3s ease;
  &__company {
    width: 100%;
    font-size: 0.7rem;
    display: flex;
    align-items: center;
    font-weight: 700;
    &__info {
      color: colors.$desaturated-dark-cyan;
    }
  }

  &__new,
  &__featured {
    text-transform: uppercase;
    padding: 0.2rem;
    border-radius: 15px;
    color: #fefefe;
    background-color: colors.$desaturated-dark-cyan;
    margin-left: 1rem;
  }

  &__featured {
    background-color: colors.$very-dark-grayish-cyan;
  }

  &__heading {
    font-size: 1rem;
    color: colors.$very-dark-grayish-cyan;
    margin: 0.5rem 0;
    transition: color 0.3s ease;
    text-decoration: none;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.8rem;
    padding: 0.5rem 0;
    color: colors.$dark-grayish-cyan;
    border-bottom: 1px solid colors.$dark-grayish-cyan;
    opacity: 0.5;
  }

  &__added,
  &__time {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 120%;
      width: 8px;
      height: 8px;
      background-color: colors.$dark-grayish-cyan;
      border-radius: 50%;
      opacity: 0.5;
    }
  }

  &__tags {
    margin: 0.5rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__tag {
    border: none;
    border-radius: 10px;
    background-color: colors.$light-grayish-cyan-background;
    padding: 0.4rem;
    font-weight: 700;
    color: colors.$desaturated-dark-cyan;
    margin: 0.5rem 1rem 0 0;
    transition: background-color 0.3s ease, color 0.3s 0.05s ease;
  }
}

// card img

.photosnap::before,
.manage::before,
.account::before,
.myhome::before,
.loop--studios::before,
.faceit::before,
.shortly::before,
.insure::before,
.eyecam::before,
.air--filter::before {
  content: "";
  height: 44px;
  width: 44px;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: -22px;
}
.air--filter::before {
  background-image: url("../images/the-air-filter-company.svg");
}
.eyecam::before {
  background-image: url("../images/eyecam-co.svg");
}
.insure::before {
  background-image: url("../images/insure.svg");
}
.shortly::before {
  background-image: url("../images/shortly.svg");
}
.faceit::before {
  background-image: url("../images/faceit.svg");
}
.loop--studios::before {
  background-image: url("../images/loop-studios.svg");
}
.myhome::before {
  background-image: url("../images/myhome.svg");
}
.account::before {
  background-image: url("../images/account.svg");
}
.photosnap::before {
  background-image: url("../images/photosnap.svg");
}
.manage::before {
  background-image: url("../images/manage.svg");
}
// card border left

.photosnap::after,
.manage::after {
  content: "";
  height: 100%;
  width: 5px;
  background-color: colors.$desaturated-dark-cyan;
  position: absolute;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  top: 0;
  left: 0;
}

.card.hidden {
  display: none;
}

.card.hidden__anim {
  transform: scale(1, 0);
}
@media (min-width: 768px) {
  .card__info__container {
    width: 40%;
  }
  .card {
    display: flex;
    justify-content: space-between;
    &__company {
      margin-bottom: 1rem;
    }
    &__info {
      border: none;
      margin-top: 0.5rem;
    }
  }
}
@media (min-width: 1024px) {
  .header {
    background-image: url("../images/bg-header-desktop.svg");
  }

  .main {
    padding: 0 3rem;
  }

  .card__info__container {
    width: 30%;
    margin-left: 6rem;
  }

  .photosnap::before,
  .manage::before,
  .account::before,
  .myhome::before,
  .loop--studios::before,
  .faceit::before,
  .shortly::before,
  .insure::before,
  .eyecam::before,
  .air--filter::before {
    content: "";
    height: 55px;
    width: 55px;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
  }
}

@media (min-width: 1440px) {
  .main {
    padding: 0 6rem;
  }
  .card__info__container {
    width: 25%;
    margin-left: 7rem;
  }
  .photosnap::before,
  .manage::before,
  .account::before,
  .myhome::before,
  .loop--studios::before,
  .faceit::before,
  .shortly::before,
  .insure::before,
  .eyecam::before,
  .air--filter::before {
    height: 66px;
    width: 66px;
  }
}

@media (pointer: fine) {
  .selected__clear:hover {
    text-decoration: underline;
  }

  .delete__tag:hover {
    background-color: #000;
  }
  .card__heading:hover {
    color: colors.$desaturated-dark-cyan;
  }

  .card__tag:hover {
    background-color: colors.$desaturated-dark-cyan;
    color: #fefefe;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
